<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>Rank Service</display-name>
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            WEB-INF/cxf-bean.xml,
            WEB-INF/endpointContext.xml
        </param-value>
    </context-param>
    <context-param>
        <param-name>initializeContextOnStartup</param-name>
        <param-value>true</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>RankServiceCXFServlet</servlet-name>
        <display-name>Rank Service Servlet</display-name>
        <description>Apache CXF Servlet for rank service</description>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RankServiceCXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
